* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-bg: #000000;
    --white: white;
    --secondary-bg: #00006e;
    --accent: #72ffb4;
    --border: 1px solid #83838333;
    --border2: 1px solid white;
    --transition-fast: 0.4s ease-in-out;
    --transition-slow: 0.6s ease-in-out;
}

body {
    background-color: var(--primary-bg);
}

#logo-text {
    background: -webkit-linear-gradient(left, #ffffff, #b7ffd9, #72ffb4, #00ff77, #00c95e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Plaster", serif;
    font-size: 2rem;
    font-weight: 100;
    background-image: gradient;
}

#logo-text:hover {
    background: -webkit-linear-gradient(left, #00c95e, #00ff77, #72ffb4, #b7ffd9, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navigation */

.navbar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12%;
    position: fixed;
    top: 0%;
    left: 0%;
    border-bottom: var(--border);
    z-index: 10;
    background-color: #1d1d1d21;
    backdrop-filter: blur(3px);
}

.menu {
    display: flex;
    align-items: start;
    gap: 30px;
}

.menu li {
    position: relative;
}

.menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5px;
    width: 0%;
    background-color: var(--accent);
    transition: var(--transition-slow);
}

.menu li:hover::after {
    width: 100%;
}

.menu li a {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

#toggle {
    display: none;
}

.nav-search {
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
}

.nav-search i {
    height: 100%;
    font-size: 1.5rem;
    padding: 0 30px;
    border-left: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--border);
}

/* Hero Section */

.hero-container {
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/ux.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.hero-container2 {
    background-image: url(assets/desk.jpg);
}

.hero-container3 {
    background-image: url(assets/software.jpg);
}

.hero-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000007c;
    z-index: -1;
}

.hero-container h3 {
    font-size: 3rem;
    color: var(--white);
    font-weight: 400;
}

.hero-container h1 {
    letter-spacing: 1px;
}

.hero-container h1 {
    font-size: 4rem;
    color: var(--white);
    font-weight: 500;
}

/* Services */

section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
    padding: 70px 12%;
}

.section-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    z-index: 9;
}

.section-title span {
    color: var(--accent);
    font-size: 1.5rem;
    border-bottom: var(--border2);
    width: 100%;
}

.services {
    flex-direction: column;
    color: var(--white);
}

.services-title {
    font-size: 1.5rem;
    width: 100%;
    color: var(--white);
    gap: 10px;
}

.services-title h2 {
    font-weight: 300;
}

.services-title span {
    padding-bottom: 10px;
}

.services-button {
    width: 200px;
    height: 30px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    position: relative;
    border-radius: 2px;
    gap: 10px;
    background-color: transparent;
}

.services-button::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #00ca5e;
    width: 40px;
    border-radius: 30px;
    transition: var(--transition-slow);
    z-index: -1;
}

.services-button:hover::after {
    width: 100%;
}

.services-button a,
.services-button i {
    color: var(--white);
    font-size: 1rem;
}

.services-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.services-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    place-content: center;
    gap: 50px;
}

.service-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    gap: 20px;
    border-radius: 5px;
}

.service-item:hover {
    background-color: #3b3b3b50;
}

.service-image {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image img {
    width: 100%;
    height: 100%;
}

.service-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.service-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.service-content p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
}

/* Projects New Code Added 11/10/25 */

#portfolio {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 70px;
}

#projects-span {
    color: var(--accent);
    font-size: 1.5rem;
    border-bottom: var(--border2);
    width: 100%;
}

.project-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(hsla(0, 0%, 0%, 0.451), hsla(0, 0%, 0%, 0.9), #192312);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: justify;
    transition: height 0.5s;
}

.layer h2 {
    margin-bottom: 20px;
    color: #72ffb4;
}

.layer h3:hover {
    color: white;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

#project-details {
    color: white;
}

#project-button {
    background-color: rgba(0, 0, 0, 0.504);
    width: 200px;
    border: white solid;
    border-width: 0.5px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 3px;
    margin: 20px 0;
}

#project-button:hover {
    background-color: #00c95e;
    border-radius: 50px;
    transition: var(--transition-slow);
}

/* Contact */

#github-link {
    margin-top: 20px;
    color: #abc68c;
    text-decoration: none;
}

.button {
    background-color: black;
    /* Green */
    border: white solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}

.button:hover {
    background-color: #d1f2aa;
    color: #2d3326;
}

.contact form {
    width: 80%;
    margin: auto;
    padding-bottom: 70px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.submit-button {
    background-color: black;
    border: white solid;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}

.submit-button:hover {
    background-color: #d1f2aa;
    color: #2d3326;
}

.contact-subtitles {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
}

.info * {
    margin: 20px;
}

.info h2 {
    padding-top: 20px;
}



/* Projects */

/* .projects {
    flex-direction: column;
}

.projects-swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Media Queries */

@media screen and (max-width:1400px) {
    .services-wrap {
        gap: 30px;
    }
}

@media screen and (max-width:1200px) {
    .service-content p {
        font-size: 1rem;
    }

    .project-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* grid-template-columns: repeat(3, 1fr); */
        grid-gap: 40px;
    }
}

@media screen and (max-width:970px) {
    #toggle {
        display: block;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

    .menu {
        height: 0;
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0%;
        gap: 0;
        width: 100%;
        padding-left: 12%;
        background-color: #00000021;
        backdrop-filter: blur(4px);
        transition: var(--transition-fast);
    }

    .menu li {
        padding: 16px 0;
    }

    .active {
        height: 300px;
        backdrop-filter: blur(5px);
        background-color: #00000035;
    }
}

@media screen and (max-width: 700px) {
    .hero-container h1 {
        font-size: 3rem;
    }

    .hero-container h3 {
        font-size: 2rem;
    }

    .services-wrap {
        gap: 15px;
    }

    .service-image {
        height: 60px;
        width: 60px;
    }

    .services-wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .layer h2 {
        font-size: 16px;
    }

    #project-details {
        font-size: 14px;
    }

}

@media screen and (max-width:500px) {
    #toggle {
        border-left: 0;
        border-right: 0;
    }

    .nav-search i:nth-child(1) {
        display: none;
    }

    .hero-container h1 {
        font-size: 3rem;
    }

    .hero-container h3 {
        font-size: 1.5rem;
    }

    .layer h2 {
        font-size: 14px;
    }

    #project-details {
        font-size: 12px;
    }
}