* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Monserrat", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-bg: black;
    --primary-text: white;
    --secondary-bg: rgb(0, 0, 110);
    --accent: #00c55c;
}

body {
    background-color: var(--primary-bg);
}

#logo-text {
    color: var(--accent);
    font-family: "Monoton", serif;
    font-size: 2rem;
    font-weight: 100;
}

/* Navigation */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12%;
    position: fixed;
    top: 0%;
    left: 0%;
}