* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-bg: #18181c;
    --primary-text: white;
    --secondary-bg: #00006e;
    --accent: #00ff77;
    --border: 1px solid #c9c9c933;
    --transition-fast: 0.4s ease-in-out;
    --transition-slow: 0.6s ease-in-out;
}

body {
    background-color: var(--primary-bg);
}

#logo-text {
    background: -webkit-linear-gradient(white, #b7ffd9,#72ffb4,#00ff77, #00c95e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Plaster", serif;
    font-size: 2rem;
    font-weight: 100;
    background-image: gradient;
}

#logo-text:hover {
    background-image: linear-gradient(#00c95e, #00ff77, #72ffb4, #b7ffd9, white);
    transition: var(--transition-slow);
}

/* Navigation */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12%;
    position: fixed;
    top: 0%;
    left: 0%;
    border-bottom: var(--border);
}

.menu {
    display: flex;
    align-items: start;
    gap: 50px;   
}

.menu li {
    position: relative;
}

.menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5px;
    width: 0%;
    background-color: var(--accent);
    transition: var(--transition-slow);
}

.menu li:hover::after {
    width: 100%;
}

.menu li a{
    color: var(--primary-text);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

#toggle {
    display: none;
}

#nav-search {
    color: var(--primary-text);
    font-size: 1rem;
}